[init]
	defaultBranch = main
[include]
    path = ~/.gitconfig.d/base.ini
    path = ~/.gitconfig.d/aliases.ini
    path = ~/.gitconfig.d/colors.ini
    path = ~/.gitconfig.d/merge.ini
    path = ~/.gitconfig.d/rebase.ini
    path = ~/.gitconfig.d/pull.ini
    path = ~/.gitconfig.d/verbosity.ini
    path = ~/.gitconfig.d/gpg.ini

[user]
    name = Remigijus Jarmalavičius
    email = remigijus@jarmalavicius.lt
    signingKey = remigijus@jarmalavicius.lt
[gpg]
	program = /usr/local/bin/gpg
