[submodule ".vim/bundle/bufexplorer"]
	path = .vim/bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/vimoutliner"]
	path = .vim/bundle/vimoutliner
	url = git://github.com/Raimondi/vimoutliner.git
[submodule ".vim/bundle/matchit"]
	path = .vim/bundle/matchit
	url = https://github.com/edsono/vim-matchit.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/tlib_vim"]
	path = .vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/vim-rename2"]
	path = .vim/bundle/vim-rename2
	url = https://github.com/ReekenX/vim-rename2.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/bundle/html5.vim"]
	path = .vim/bundle/html5.vim
	url = https://github.com/othree/html5.vim.git
[submodule ".vim/bundle/vim-smooth-scroll"]
	path = .vim/bundle/vim-smooth-scroll
	url = https://github.com/terryma/vim-smooth-scroll
[submodule ".vim/bundle/coffee-script"]
	path = .vim/bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/move"]
	path = .vim/bundle/move
	url = https://github.com/matze/vim-move.git
[submodule ".vim/bundle/vdebug"]
	path = .vim/bundle/vdebug
	url = https://github.com/joonty/vdebug.git
[submodule ".vim/bundle/netrw"]
	path = .vim/bundle/netrw
	url = https://github.com/vim-scripts/netrw.vim
[submodule ".vim/bundle/mql4"]
	path = .vim/bundle/mql4
	url = https://github.com/vobornik/vim-mql4.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/autosave"]
	path = .vim/bundle/autosave
	url = https://github.com/vim-scripts/vim-auto-save.git
