[user]
    name = Remigijus Jarmalavičius
    email = remigijus@jarmalavicius.lt
    editor = vim
[alias]
    br = branch
    ci = commit -a -v
    co = checkout
    df = diff --word-diff --ignore-submodules
    g = grep -I
    lg = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]' --decorate --date=short --all
    st = status --ignore-submodules -sb
    mg = merge --no-commit
    vdiff = !sh /home/remigijus/Kodas/atviri/git-diffall/git-diffall
[color]
    ui = auto
    interactive = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[merge]
    log = true
[diff]
    tool = meld
[mergetool]
    keepbackup = true
    keeptemporaries = false
[branch]
    autosetupmerge = true
[core]
    excludesfile = ~/.gitignore_global
    filemode = false
[push]
	default = matching
