[user]
    name = Remigijus Jarmalavičius
    email = remigijus@jarmalavicius.lt
    editor = vim
[alias]
    br = branch
    ci = commit -a -v
    co = checkout
    df = diff
    g = grep -I
    lg = log --oneline --decorate --graph --all
    pb = publish-branch
    rb = rbranch
    rc = rank-contributors
    rv = review
    sm = show-merges
    st = status --ignore-submodules
    vdiff = !sh /home/remigijus/Kodas/atviro-kodo-projektai/git-diffall/git-diffall
[color]
    ui = auto
    interactive = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[merge]
    log = true
[diff]
    tool = meld
[mergetool]
    keepbackup = true
    keeptemporaries = false
[branch]
    autosetupmerge = true
[core]
    excludesfile = project.vim
    filemode = false
