vim/.vim/.netrwhist
vim/.vim/plugged/bufexplorer/
vim/.vim/plugged/ctrlp.vim/
vim/.vim/plugged/html5.vim/
vim/.vim/plugged/neomake/
vim/.vim/plugged/nerdcommenter/
vim/.vim/plugged/scss-syntax.vim/
vim/.vim/plugged/tagbar/
vim/.vim/plugged/tlib_vim/
vim/.vim/plugged/ultisnips/
vim/.vim/plugged/vdebug/
vim/.vim/plugged/vim-addon-mw-utils/
vim/.vim/plugged/vim-brightest/
vim/.vim/plugged/vim-coffee-script/
vim/.vim/plugged/vim-matchit/
vim/.vim/plugged/vim-move/
vim/.vim/plugged/vim-mql4/
vim/.vim/plugged/vim-multiple-cursors/
vim/.vim/plugged/vim-rename2/
vim/.vim/plugged/vim-smooth-scroll/
vim/.vim/plugged/vim-snipmate/
vim/.vim/plugged/vim-snippets/
vim/.vim/plugged/vim-surround/
vim/.vim/plugged/vimoutliner/
