/* Default color scheme */
XTerm*color0:      #000000
XTerm*color1:      #9e1828
XTerm*color2:      #aece92
XTerm*color3:      #968a38
XTerm*color4:      #414171
XTerm*color5:      #963c59
XTerm*color6:      #418179
XTerm*color7:      #bebebe
XTerm*color8:      #666666
XTerm*color9:      #cf6171
XTerm*color10:     #c5f779
XTerm*color11:     #fff796
XTerm*color12:     #4186be
XTerm*color13:     #cf9ebe
XTerm*color14:     #71bebe
XTerm*color15:     #ffffff
XTerm*foreground:  #dcdccc
XTerm*background:  #1f1f1f
XTerm*cursorColor: #8faf9f

/* Progarmming font */
xterm*faceName: DejaVu Sans Mono
xterm*faceSize: 11

/* This is to work Alt+* keys (f.e. for `irssi`) */
xterm*eightBitInput: false

XTerm.VT100.translations: #override\n\
        <Btn4Down>,<Btn4Up>: string(0x19)\n\
        <Btn5Down>,<Btn5Up>: string(0x5)\n

xterm*Title: Terminal
xterm*ToolBar: false
xterm*BorderWidth: 0
xterm*FreeBoldBox: false
xterm*LoginShell: true
xterm*ScrollBar: false
xterm*RightScrollBar: false
xterm*Thickness: 10
xterm*SaveLines: 10000000
